.c {
  text-align: center;
  vertical-align: middle !important;
}

.m {
  vertical-align: middle !important;
}

.nw {
  white-space: nowrap;
}

h1.my,
h2.my,
h1 > span.my,
h2 > span.my {
  padding: 6px;
  /* 離標題邊框距離 */
  text-align: left;
  /* 文字靠左 */
  font-weight: bold;
  /* 不要粗體 */
  font-family: "Noto Sans TC", HanWangMingBlack, Iansui;
  /* 字型 */
  color: rgb(33, 51, 51);
}

h3.my,
h4.my,
h5.my,
h3 > span.my,
h4 > span.my,
h5 > span.my {
  padding: 6px;
  /* 離標題邊框距離 */
  text-align: left;
  /* 文字靠左 */
  font-weight: normal;
  /* 不要粗體 */
  font-family: "Noto Sans TC", JfOpenhuninn, Iansui;
  /* 字型 */
  color: rgb(92, 41, 56);
}

.my-title {
  padding: 6px;
  /* 離標題邊框距離 */
  text-align: left;
  /* 文字靠左 */
  font-weight: normal;
  /* 不要粗體 */
  font-family: JfOpenhuninn, Iansui, "Noto Sans TC";
  color: #3a322e;
}

.my-border {
  padding: 12px 20px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 8px;
  background: rgb(245, 245, 245);
  /* box-shadow: 0px 0px 6px 1px rgba(37, 37, 37, 0.2); */
  margin: 10px auto;
}

.my-sm-border {
  padding: 6px 10px 8px 10px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  background: rgb(245, 245, 245);
  margin: 10px auto;
}

ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 20px;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 20px;
}

/* 修改 Tooltip 背景和文字顏色 */
.tooltip .tooltip-inner {
  background-color: #f7f8aa;
  /* 修改提示框背景顏色 */
  color: #000000;
}

.tooltip .tooltip-arrow::before {
  border-top-color: #f7f8aa !important;
  /* 修改箭頭顏色 */
}

/* 修改 Tooltip 箭頭顏色 */
.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #f7f8aa !important;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #f7f8aa !important;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #f7f8aa !important;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #f7f8aa !important;
}

.bar {
  text-align: center;
  margin: 3em auto;
}

.btn {
  font-family: "Noto Sans TC";
}

.help-title {
  font-size: 1em;
  font-weight: bold;
  color: rgb(63, 9, 27);
}

.help-txt {
  font-size: 0.8em;
  color: rgb(51, 51, 0);
}

label {
  font-weight: bold;
}

.empty {
  color: rgb(185, 216, 245);
}

.line th {
  text-align: center;
  vertical-align: middle;
  color: black;
  background-color: #dcede8;
  border-color: #000;
}

.line td {
  text-align: center;
  vertical-align: middle;
  background-color: white;
  border-color: #000;
}

.btn-coral {
  color: #fff;
  background-color: coral;
  border-color: coral;
}

.btn-coral:hover,
.btn-coral:focus,
.btn-coral:active:hover {
  color: #fff;
  background-color: coral;
  border-color: coral;
}

.color-picker {
  width: 80%;
  display: inline-block;
}

.my-badge {
  border-radius: 4px;
  padding: 3px 6px;
  font-size: 0.8em;
}

.num {
  font-family: "Arial Narrow", Roboto, "Helvetica Neue", sans-serif;
}

.val {
  border-bottom: 1px solid gray;
  color: blue;
}

.keyword {
  background-color: yellow;
  color: #000000;
  border-radius: 4px;
  padding: 2px;
}

.status-0 {
  color: gray;
  font-size: 0.8rem;
}

.approving {
  color: rgb(158, 79, 79);
}

.vtb li.w9 {
  width: 9%;
}

.vtb li.w13 {
  width: 13%;
}

@media (max-width: 768px) {
  .vtb li.w9,
  .vtb li.w13 {
    width: 100%;
  }
}
